.App__header {
    height: 64px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--purple-01);
    color: white;
}

.App__content {
    padding: 8px;
}